.first-modal {
  width: 600px;
  height: 600px;
  background-color: #FFF9E8;
  font-family: 'Gaegu', cursive;
  transition: all 0.3s;
  font-size: 24px;
}

.window {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 600px;
}

.page {
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: #FFF9E8;
  transition: all 1s;
}

.modal-input {
  box-shadow: 0px 0px 5px 0px #0076BA;
  background-color: #FFF9E8;
  border-radius: 5px;
  border: 0;
  font-family: 'Gaegu', cursive;
  font-size: 32px;
}

.modal-title {
  font-family: 'Gaegu', cursive;
  color: #0076BA;
  font-size: 60px;
}

.first-modal-button {
  border: none;
  border-radius: 5px;
  font-family: 'Gaegu', cursive;
  font-size: 24px;
  margin: 10px 5px;
  color: black;
  background-color: #FFF9E8;
  box-shadow: 0px 0px 5px 0px #0076BA;
}

.first-modal-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px #0076BA;
}

.first-modal-button:active {
  box-shadow: 0px 0px 5px 0px #0076BA;
}

.right {
  transform: translateX(-600px);
}

.left {
  transform: translateX(600px);
}



@media only screen and (max-width: 599px) {
  .first-modal{
    width: 100vh;
    height: 100vh;
}
}
