.nav {
  height: 12%;
  border-top: 1px solid #d0d0d0;
}

.nav-box {
  /* flex: 1; */
  /* height: 100%; */
  width: 25%;
}

.nav-button {
  /* height: 100%; */
}

.nav-icon {
  height: 60%;
}

.nav-icon:hover {
  height: 70%;
  cursor: pointer;
}

.nav-icon:active {
  height: 60%;
}