.nav {
  height: 12%;
  border-top: 1px solid #0076BA;
}

.nav-box {
  flex: 1;
  height: 100%;
}

.nav-button {
  height: 100%;
}

.nav-icon {
  height: 60%;
}

.nav-icon:hover {
  height: 70%;
  cursor: pointer;
}

.nav-icon:active {
  height: 60%;
}